@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bg-color: #ffffff;
  --fg-color: #338aee;
  --bd-color: rgba(255, 255, 255, 0.2);
  
    --default-bg: 
    linear-gradient(322deg, #ba4aff, rgba(186, 74, 255, 0) 70%),
    linear-gradient(178deg, #008aff, rgba(0, 138, 255, 0) 70%), 
    linear-gradient(24deg, #00ffc6, rgba(0, 255, 198, 0) 35%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

html {
  margin: 0;
  padding: 0;  
 
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
}

a {
  position: relative;
  grid-template-columns: repeat(1, max-content);
  padding: 0.25rem 1rem;
  display: grid;
  text-decoration: none;
  color: white;
  
  border: 1px solid var(--bd-color);
  
  display: flex;
  
  align-items: center;
}

a::before {
  content: '';
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  color: white;
  background: var(--default-bg);
  
  z-index: -1;
  
  transition: clip-path 1000ms ease-out;
}


a.wave-link {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
  background: transparent;
  color: white;
  border: 0;
  overflow: hidden;
    padding: 7px 0;
    text-decoration: none;
}
a.wave-link:before {
  content: '';
  background: #FFF;
  position: absolute;
  width: 100%;
  height: 1px;
  top: 100%;
  left: 0;
  pointer-events: none;
  text-decoration: none;
}
.link__graphic {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    fill: none;
    stroke: white;
    stroke-width: 1px;
}
.link__graphic--slide {
    top: -3px;
    stroke-width: 2px;
    transition: transform 0.7s;
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
a.wave-link:hover .link__graphic--slide {
    text-decoration: none;
  transform: translate3d(-66.6%, 0, 0);
}
.main-container {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, max-content);
  gap: 1rem;
  padding: 0px;
}

.FilmDetail {
  background-color: rgb(110, 128, 175) !important;
  margin: 10px;
  padding: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-radius: 0 0 30px 30px;
}
.review-row {
  padding-bottom: 20px;
}
.my-3 {
  margin: 10;
  padding: 10;
}
.review-card .review-content{
  height: 100px;
  margin: 10;
  padding: 10;
  margin-bottom: 30;
}

.review-content {
  overflow-y: auto;
}