body {
    background-color: rgb(69, 82, 116) !important;
  }

.card-image {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    object-position: center;
  }
  
  .film-card {
    position: relative;
    height: 100%;
  }
  
  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .film-card .card-body {
    height: 120px; 
    overflow: hidden;
    background-color: rgb(110, 128, 175) !important;
  }