.signup-col {
    margin: 0;
    background-color: rgb(110, 128, 175) !important;
    height: 80vh;
    border-radius: 0 0 30px 30px;
  }
.text-danger {
    color: #FFFFFF !important;
    font-size: 18px !important;
}
.custom-border {
  border: 2px solid #ccc;
}

/* Red border color for invalid email */
.custom-border.invalid {
  border: 2px solid red;
}

/* Green border color for valid email */
.custom-border.valid {
  border: 2px solid darkgreen;
}

.grey-placeholder::placeholder {
  color: #9F9F9F !important;
}