.SearchCont {
    background-color: rgb(110, 128, 175) !important;
    padding-bottom: 20px;
    border-radius: 0 0 30px 30px;
    margin-bottom: 20px;
}

input[type="radio"] {
    -webkit-appearance: none; /* Safari/Chrome */
    -moz-appearance: none; /* Firefox */
    appearance: none;
  }
  
  /* Add custom styles for the radio button */
  input[type="radio"].custom-radio {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #aaa;
    background-color: #fff;
    position: relative;
  }
  
  /* Add custom styles for the dot (when checked) */
  input[type="radio"].custom-radio:checked::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(69, 82, 116);
  }